#lista-cmnt {
  overflow-y: auto;
}

.texto-cmnt {
  overflow-y: auto;
  max-height: 20vh;
}

#media-cmnt {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: orangered;
  color: yellow;
}

.pontos-cmnt {
  max-width: 3rem;
  font-weight: bolder;
  background-color: green !important;
  color: yellow;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#lista-comentarios input[type="number"] {
  appearance: textfield;
}

#lista-comentarios input:enabled {
  outline: lime solid;
}

#lista-comentarios textarea:enabled {
  outline: lime solid;
}

#lista-comentarios textarea {
  display: block;
  resize: none;
}

#lista-comentarios textarea.resizable {
  resize: unset;
}

#lista-comentarios textarea:disabled.undis {
  color: inherit !important;
}